.target{
    width: 250px;
    height: 300px;
    background: silver;
    border: 1px solid black;

}
.target>h2{
    padding-top: 40px;
    text-align: center;
}
.target>p{
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box>button{
    width: 200px;
    height: 50px;
    background: white;
}
.container{
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;

}
.b1{
    margin-left: 20px;
}
.b2{
    margin-left: 20px;
}